$purple:#9f9acf;
$white:#ffffff;
$font_family_PTSans:'PT Sans', sans-serif;
$font_family_ProximaNova:'ProximaNova', sans-serif;
$transition:all .5s ease .2s;
/*отладочные переменные*/
$borderSection:1px solid  black;
$borderBlock:1px solid red;
$borderElement:1px solid green;

