$backgroundWhite: #ffffff;
$backgroundDarkWhite: #ffffff;
$font_family_OpenSans: 'Open Sans', sans-serif;
$font_family_SourceSansPro: 'Source Sans Pro', sans-serif;
$text_color_black: #333b46;
$text_color_white: #ffffff;
$text_color_gray: #9599a0;

$borderWrapper: 1px solid dark;
$borderBlock: 1px solid red;
$borderElement: 1px solid green;
