// @TODO: отступы
body {
	background-color: #fff;
	font-size: 18px;
	color: #000;
}

h1, h2 {
	text-align: center;
	font-size: 40px;
}

// @TODO: размеры для дива обертки надо задавтаь, для картинки все должно быть отосительно
img {
	width: 150px;
	height: 160px;
}