/*------footer-------*/

.section-footer {
	background: #9f9acf;
	background-size: cover;
	.footer {
		display: flex;
		flex-wrap: wrap;
		.copyProtection {
			flex-basis: 50%;
			padding: 80px 0 80px 22px;
			font-family: PTSans;
			color: #ffffff;
			font-size: 18px;
			font-weight: 400;
			text-align: left;
			@include mq("tablet-wide") {
				flex-basis: 100%;
				padding: 40px 0 40px 0;
				transition: $transition;
			}
			@include mq("phone-wide") {
				font-size: 15px;
				transition: $transition;
			}
		}

		.footerSocialNetworks {
			flex-basis: 50%;
			display: flex;
			justify-content: flex-end;
			align-items: center;
			@include mq("tablet-wide") {
				flex-basis: 100%;
				justify-content: start;
				transition: $transition;
			}
			.footerSocialNetworks__container {
				display: flex;
				.footerSocialNetworks__element {
					margin-right: 25px;
					@include mq("phone-wide") {
						margin-right: 15px;
						transition: $transition;
					}
				}
			}
		}
	}
}
